@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,regular,600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work-Sans', sans-serif;
    background-color: #010208;
    color: #fff;
}
.container {
    max-width: 1245px;
    margin: 0px auto;
    padding: 0 15px;
}
.header {
    padding: 35px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #010208;
}
.header__container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
}

/*_____________________________________MENU______________________________________*/
.menu__list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}
.menu__link:hover{
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;   
}
.menu__link:hover::before {
    opacity: 1;
    visibility: visible;
}
.menu__link {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #e3e4e6;
    text-decoration: none;
    position: relative;
}  
.menu__link::before {
    background-color: #fff;
    content: "";
    width: 9px;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
}  

/*_____________________________________________HERO________________________________________________*/
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container {
}
.hero__title {
    font-weight: 300;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(227, 228, 230, 0.55);
}
.hero__title span {
    font-weight: 600;
    color: #e3e4e6;
}
.hero__arrow {
    border: none;
    width: 40px;
    height: 40px;
    background: transparent url(../img/arrow-small.svg) center center no-repeat;
    position: absolute;
    left: 50%;
    bottom:  42px;
    transform: translate(-50%) rotate(90deg);
    cursor: pointer;
}   

/*__________________________________________CLIENTS________________________________________*/
.clients {
    padding: 80px 0 130px;
}
.container {
   
}
.clients__title {
    font-size: 40px;
    line-height: 150%;
    font-weight: 600;
    color: #e3e4e6;
    max-width: 520px;
}
.clients__body {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.clients_item {
}.clients {
}
.container {
}
.clients__title  span {
    font-weight: 300;
    color: rgba(227, 228, 230, 0.55);
}
.clients__body {
}
.clients_item {
}

/*________________________________________________WORK___________________________________________________*/

.works {
    padding:  80px 0 120px;
}
.container {
}
.works__container {
}
.works__title {
    font-weight: 300;
    font-size: 40px;
    line-height: 150%;
    color: rgba(227, 228, 230, 0.55);
    flex: none;
    order: 0;
    flex-grow: 1;
}
.works__title span {
    color: #e3e4e6;
    font-weight: 600;
}
.works__body {
    margin-top: 95px;
}
.works__card {
}
.card {
    display: flex;
    gap: 32px;
}
.card:not(:last-child) {
    margin-bottom: 95px;
}
.card_r {
    flex-direction: row-reverse;
}
.card__img {
    border-radius: 16px;
    overflow: hidden;
    flex: 0 0 50%;
}
.card__img img {
    max-width: 100%;
}
.card__info {
    flex: 1 1 auto;
    align-self: flex-end;
}
.card__tag {
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #E3E4E6;
    margin-bottom: 16px;

}
.card__text {
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
    color: rgba(227, 228, 230, 0.55);
    margin-bottom: 24px;
}
.card__text span {
    color: #E3E4E6;
    font-weight: 600;
}
.card__category {
    font-size: 18px;
    font-weight: 600;
}
.card__button {
    display: inline-block;
    margin-top: 32px;
    padding: 8px 48px 8px 16px;
    border-radius: 100px;
    border: 1px solid rgba(227, 228, 230, 0.55);
    color: #fff;
    text-decoration: none;
    position: relative;
}
.card__button::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: transparent url("../img/arrow-small.svg") center center no-repeat;
}
.card__button:hover {
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    border: 1px solid #E3E4E6;    
}
.card__button:hover::before {
    background: transparent url("../img/arrow-hover.svg") center center no-repeat;

}
/*__________________________________ABOUT________________________________________________*/

.about {
    padding: 75px 0;
}
.about__container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.about__text {
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
    color: #E3E4E6;
}
.about__text span {
    color: rgba(227, 228, 230, 0.55);
    font-weight: 300;
}
.about__title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #E3E4E6;

}
.about__gallery {
    flex: 0 0 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.about__img {
}
.about__img:nth-child(1) {
    grid-column: 1/2;
    grid-row: 2/4;
}
.about__img:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
}
.about__img:nth-child(3) {
    grid-column: 2/3;
    grid-row: 3/5;
}

/*_____________________________________________________________________FOOTER_____________________________________________________________________________________*/
.footer {
    padding: 80 0 40px;
}
.container {
}
.footer__container {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}
.footer__title {
    font-size: 56px;
    letter-spacing: -0.02em;
    color: #E3E4E6;
    font-weight: 600;
  
}
.footer__title span {
    font-weight: 300;
    color: rgba(227, 228, 230, 0.55);
}
.footer__subtitle {
    font-weight: 300;
    font-size: 18px;
    color: #E3E4E6;
    margin-top: 15px;

}
.footer__socials {
    display: flex;
    margin-top: 60px;
    align-items: center;
}

.footer__social svg {
    fill: #E3E4E6;
}
.footer__social:hover svg {
    fill: fuchsia;
}
.footer__social:not(:last-child) {
    margin-right: 55px;
}